<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA00qACvbcfVzQr9qdCn4wZFH09YnrY8FM</string>
	<key>GCM_SENDER_ID</key>
	<string>855738435055</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.matejkupresak.GoonsTracker</string>
	<key>PROJECT_ID</key>
	<string>goons-tracker</string>
	<key>STORAGE_BUCKET</key>
	<string>goons-tracker.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:855738435055:ios:2688d4947c33fc8541a21a</string>
</dict>
</plist>